.container
    .row
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 2. ¿Qué es el aislamiento preventivo?
            .tituloPrincipal__icono

    .row.my-5
        .col

            .card

                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/m2hQNDj-9Y4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                .card-body.my-0

                    .question           

                        .question-header

                            .question-number.border-right-0.mb-0
                                i.fa.fa-info-circle.fa-lg

                            .question-title
                                span ¿Qué es el aislamiento preventivo?

                        .question-body

                            p.mb-5
                                | El aislamiento es la separación de una persona o grupo de personas que se sabe o se cree que están infectadas con una enfermedad transmisible y potencialmente infecciosa de aquellos que no están infectados, para prevenir la propagación de COVID-19.

                            .jumbotron.mt-5.mb-0
                                h2 Recuerde que:

                                p
                                    | <strong>Atención ambulatoria</strong> es la modalidad de prestación de servicios en el domicilio o residencia de la persona, principalmente a la población en aislamiento preventivo obligatorio: Personas con 70 años o más, Personas con enfermedades crónicas de base: hipertensión arterial, diabetes, enfermedades del corazón o del riñón; o Pacientes que se encuentren en tratamiento médico que baje las defensas,  por enfermedad como el cáncer; y Mujeres en Embarazo,  durante la  actual emergencia sanitaria por COVID-19. Lo anterior se establece en la <strong>Resolución 521 del 28 de marzo del 2020</strong>.

    section

        .header-arrow.mb-5
            h3 
                | DEMANDA ESPONTÁNEA POR ENFERMEDAD GENERAL
            p.text-muted.mt-2 Infografía

        .row.my-5
        
            .col-12
                .card.mt-5.pb-5
                    img.card-img-top(src='images/que_es_aislamiento/infografia-1.svg', alt='Demanda Espontanea por Enfermedad General')


    section

        .header-arrow.mb-5
            h3 
                | PACIENTES CON ENFERMEDAD CRÓNICA CONTROLADA Y DE BAJO RIESGO
            p.text-muted.mt-2 Infografía

        .row.my-5
        
            .col-12
                .card.mt-5.pb-5
                    img.card-img-top(src='images/que_es_aislamiento/infografia-2.svg', alt='Pacientes con enfermedad crónica controlada y de bajo riesgo')


    section

        .header-arrow.mb-5
            h3 
                | PACIENTE CON ENFERMEDAD CRÓNICA NO CONTROLADA
            p.text-muted.mt-2 Infografía

        .row.my-5
        
            .col-12
                .card.mt-5.pb-5
                    img.card-img-top(src='images/que_es_aislamiento/infografia-3.svg', alt='Paciente con enfermedad crónica no controlada')


