.container.page-casos-posibles
    .row
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 3. Aislamiento Domiciliario en Casos posibles, probables o confirmados
            .tituloPrincipal__icono


    .row.my-5

        .col-12
            p.mb-5 Para prevenir la propagación del coronavirus es muy importante seguir las recomendaciones generales del aislamiento domiciliario, recuerde que:

        .col-12
            
            .card-deck

                .card
                    img.card-img-top(src='images/casos_posibles_probables/caso_probable.png', alt='Caso probable')
                    .card-body
                        h5.card-title Caso probable
                        //p.card-text.text-muted
                            | es la persona que presenta signos y síntomas leves, espera el resultado de laboratorio, refiere contacto con un caso confirmado o proviene de una zona o territorio en el que existen casos de enfermedad.

                .card
                    img.card-img-top(src='images/casos_posibles_probables/caso_sospechoso.png', alt='Caso probable')
                    .card-body
                        h5.card-title Caso sospechoso
                        //p.card-text.text-muted
                            | es la persona que ha presentado temperatura mayor de 38°, tos o dificultad para respirar; ha tenido contacto con alguna persona que se crea sea portadora del COVID-19 o haya viajado a áreas geográficas donde está documentada la transmisión de la enfermedad en los 10 días previos al inicio de los síntomas.
                        
                .card
                    img.card-img-top(src='images/casos_posibles_probables/caso_confirmado.png', alt='Caso probable')
                    .card-body
                        h5.card-title Caso confirmado
                        //p.card-text.text-muted
                            | es la persona con infección por coronavirus, confirmada mediante pruebas de laboratorio, independientemente de los signos y síntomas clínicos. 

            p.mt-5  
                ul
                    li.mb-3 
                        | <strong>Caso probable</strong>: es la persona que presenta signos y síntomas leves, espera el resultado de laboratorio, refiere contacto con un caso confirmado o proviene de una zona o territorio en el que existen casos de enfermedad.
                    li.mb-3 
                        | <strong>Caso sospechoso</strong>: es la persona que ha presentado temperatura mayor de 38°, tos o dificultad para respirar; ha tenido contacto con alguna persona que se crea sea portadora del COVID-19 o haya viajado a áreas geográficas donde está documentada la transmisión de la enfermedad en los 10 días previos al inicio de los síntomas.
                    li 
                        | <strong>Caso confirmado</strong>: es la persona con infección por coronavirus, confirmada mediante pruebas de laboratorio, independientemente de los signos y síntomas clínicos.

            p 
                | En cualquiera de estos casos, la persona debe informar a la secretaria de salud municipal, distrital o departamental que iniciará su fase de aislamiento preventivo por 14 días, en su lugar de permanencia (casa, hotel, hostal u hospedaje).
            
            
    section

        .header-arrow.mb-5
            h3 
                | Recomendaciones Generales
            p.mt-2
                | Si usted considera que es un caso sospechoso, probable o confirmado, inicie su aislamiento domiciliario, aplicando las siguientes recomendaciones:


        .row.my-5
        
            .col-12
                .card.mt-5
                    img.card-img-top(src='images/casos_posibles_probables/galeria/slider1.png', alt='Casos posibles, probables o confirmados')

            .col-12
                .card.mt-5
                    img.card-img-top(src='images/casos_posibles_probables/galeria/slider2.png', alt='Distancia mínima de 2 metros')


            .col-12
                .card.mt-5
                    img.card-img-top(src='images/casos_posibles_probables/galeria/slider3.png', alt='La puerta de la habitación deberá permanecer cerrada hasta la finalización del aislamiento.')

            .col-12
                .card.mt-5
                    img.card-img-top(src='images/casos_posibles_probables/galeria/slider4.png', alt='Casos posibles, probables o confirmados')

            .col-12
                .card.mt-5
                    img.card-img-top(src='images/casos_posibles_probables/galeria/slider5.png', alt='Casos posibles, probables o confirmados')

            .col-12
                .card.mt-5
                    img.card-img-top(src='images/casos_posibles_probables/galeria/slider6.png', alt='Casos posibles, probables o confirmados')

            .col-12
                .card.mt-5
                    img.card-img-top(src='images/casos_posibles_probables/galeria/slider7.png', alt='Casos posibles, probables o confirmados')
                    .card-body.mt-0
                        | Se recomienda disponer utensilios de aseo de uso individual y de productos para la higiene de manos como jabón o alcohol glicerinado.
            .col-12
                .card.mt-5
                    img.card-img-top(src='images/casos_posibles_probables/galeria/slider8.png', alt='Casos posibles, probables o confirmados')

            .col-12
                .card.mt-5
                    img.card-img-top(src='images/casos_posibles_probables/galeria/slider9.png', alt='Casos posibles, probables o confirmados')

            .col-12
                .card.mt-5
                    img.card-img-top(src='images/casos_posibles_probables/galeria/slider10.png', alt='Casos posibles, probables o confirmados')

            .col-12
                .card.mt-5
                    img.card-img-top(src='images/casos_posibles_probables/galeria/slider11.png', alt='Casos posibles, probables o confirmados')

            .col-12
                .card.mt-5
                    img.card-img-top(src='images/casos_posibles_probables/galeria/slider12.png', alt='Casos posibles, probables o confirmados')
