.container
    .row
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 1. Introducción
            .tituloPrincipal__icono


    .row.my-5
        .col

            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/4iZJAuucxac', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                .card-body.mt-0
                    strong Información sobre el coronavirus | 
                    | El Ministerio de Salud y Protección Social se permite informar y orientar a la población del país frente a las acciones y los cuidados que se requieren implementar en el AISLAMIENTO DOMICILIARIO, en el marco de la alerta causada por el SARS-CoV-2 para disminuir el riesgo de transmisión del virus de humano a humano y en el marco del Reglamento Sanitario Internacional- RSI por la alerta sanitaria por SARS-CoV-2 (COVID-19).


    .header-arrow.my-5
        h3.text-center Cadena de transmisión del COVID-19

    .row.my-5
        .col
            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/NSHMDN1uz7I', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                .card-body.mt-0
                    strong Cadena de transmisión del COVID-19 | 
                    | En diciembre de 2019 se detectó un grupo de casos de neumonía en China, los investigadores encontraron que fue causado por un virus desconocido, ahora llamado el nuevo CORONAVIRUS o COVID-19. Acompáñanos a revisar lo que sabemos del nuevo virus.



