.container
    .row
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 9. Líneas de atención EPS
            .tituloPrincipal__icono


    .row.my-5
        .col
            p Consulta toda la información oficial sobre el coronavirus (COVID-19) en Colombia, ingresando a 
                a(href="http://bit.ly/Covid19Web") http://bit.ly/Covid19Web 

            figure.mt-5.mb-3
                img(src="images/linea_atencion_eps.svg").img-fluid

    .row
        .col
            .card.m-0.p-0

                .card-header
                    strong Líneas de atención EPS.

                .card-body.mt-0
                    p  Línea de orientación sobre el nuevo CORONAVIRUS COVID-19: 
                    ul 
                        li LÍNEA 192
                        li En Bogotá: +57(1) 330 5041 
                        li Resto del país: 01 8000 955 590
                        li Descarga la aplicación <a href="https://play.google.com/store/apps/details?id=co.gov.ins.guardianes&hl=es_CO"><strong>CoronApp</strong></a>

