.container
    .row
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 6. Recomendaciones para la limpieza y desinfección en el hogar
            .tituloPrincipal__icono


    .row.my-5
        .col

            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/VKCMbx5JSLM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                .card-body.mt-0
                    | Si te encuentras en aislamiento preventivo o fuiste diagnosticado con COVID-19, sigue estas recomendaciones para desinfectar tu hogar, hotel o lugar de residencia.


    .text-hero.text-hero--white.my-5
        h3.mb-2 Limpieza y desinfección en domicilio.
        p
            | Lavar y desinfectar en forma regular pisos, paredes, puertas y ventanas, e incrementar estas actividades en las superficies de los closets, roperos, armarios, barandas, pasamanos, picaportes, interruptores de luz, puertas, gavetas, topes de puertas, muebles, juguetes, bicicletas, y todos aquellos elementos con los cuales las personas de la familia tienen contacto constante y directo.


    .row.my-5
        .col

            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/RUkbdiB8_10', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                .card-body.mt-0
                    strong Limpieza y desinfección en domicilio. 
                    | El coronavirus puede vivir en diferentes superficies por hasta tres días o incluso más. Para mantener el virus fuera de tu casa, sigue estas recomendaciones.


    .row.justify-content-between
        .col-12.col-md-5
            p La limpieza y desinfección debe realizarse procurando seguir los siguientes pasos: retiro de polvo, lavado con agua y jabón, enjuague con agua limpia y desinfección con productos de uso doméstico, como hipoclorito de sodio al 0,5 %.
            hr
            p No sacudir las prendas de ropa antes de lavarlas para minimizar el riesgo de dispersión de virus a través del aire. Dejar que se sequen completamente.

        .col-12.col-md-5
            p Limpiar y desinfectar todo aquello que haya estado en el exterior de la vivienda o que es de manipulación diaria, como: computadores, mouse, teclados, celulares, teléfonos fijos, control remoto, otros equipos electrónicos de uso frecuente, que se limpian empleando un paño limpio impregnado de alcohol o con agua y jabón, teniendo precaución para no averiarlos. 
            hr
            p Lavar con regularidad fundas, sabanas, toallas, etc.


    .header-arrow.my-5
        h3.mb-2 Limpieza del baño

    .row.justify-content-between
        .col-12.col-md-5
            p Realizar limpieza y desinfección de todas las áreas e implementos que se encuentran en el baño. 
            hr
            p Guardar los cepillos de dientes y separarlos unos de otros.

        .col-12.col-md-5
            p Cambiar y lavar con regularidad las toallas de mano, siendo preferible el empleo de toallas de papel.             
            hr

    .header-arrow.my-5
        h3.mb-2 Limpieza de la cocina



    .row.my-5
        .col

            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/it0Axm3prIM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                .card-body.mt-0
                    strong Limpieza y desinfección de frutas y verduras en el hogar.


    .row.justify-content-between
        .col-12.col-md-5
            p Realizar limpieza y desinfección de todas las áreas e implementos que se encuentran en ella.
            hr
            p Cambiar o lavar con regularidad las esponjas para lavar platos, preferiblemente con agua caliente o desinfectante.
            hr
            p Los adultos mayores que tengan una enfermedad de base diferente al COVID-19, no deben compartir vasos, platos, utensilios, alimentos o bebidas.
            hr


        .col-12.col-md-5
            p Tener en cuenta las Cinco reglas de la OMS para el consumo de alimentos más seguros: 
            ol
                li Limpieza de áreas y elementos  se emplean para la  preparación de los alimentos;  lavar frutas y verduras después de la compra.
                li Separar los alimentos crudos de los preparados.
                li Cocinar bien los alimentos y hervir el agua para el consumo.
                li Mantener los alimentos a la temperatura correcta.
                li Utilizar agua y materias primas aptas para el consumo.