.container
    .row
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 4. Medidas generales para cumplir con el aislamiento en forma segura
            .tituloPrincipal__icono


    .row.my-5.justify-content-center
        .col-12.col-sm-12

            .card.mb-5
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/N5iWzjNWh8A', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                .card-body.mt-0
                    strong ¿Cómo lavarse las manos? | 
                    | Lávate bien las manos varias veces durante el día y enseña a los niños y adultos mayores a hacerlo. Si todos adquirimos este hábito, reducimos hasta en un 50% la posibilidad de contagio del COVID-19. 


    .row.my-5.justify-content-center
        .col-12.col-sm-12

            .card.mb-5
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/b-oDmJjbdoI', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                .card-body.mt-0
                    strong Técnica de higiene de las manos usando gel antibacterial | 
                    | Limpia tus manos con un gel a base de alcohol. Tener las manos limpias reduce la propagación de enfermedades como COVID-19.


    .header-arrow
        h3 Recomendaciones generales

    .mt-5
        p Para garantizar unos niveles adecuados de protección de los familiares, convivientes, trabajadores sanitarios y de la población general con el fin de prevenir la transmisión de la enfermedad, es necesario aplicar con responsabilidad las medidas básicas de higiene, prevención y control de la infección siguiendo las <strong>recomendaciones generales para un aislamiento domiciliario seguro</strong>.

    .row.justify-content-center
        
        .card-media.col-10.col-md-8
            .card-media__body                 
                figure.card__figure
                    img(src="images/medidas_generales/recomendacion1.png", alt="Instálate en una habitación individual, bien ventilada, y con condiciones sanitarias favorables.").img-fluid
                p.card__copy 
                    span Instálate en una habitación individual, bien ventilada, y con condiciones sanitarias favorables.


        .card-media.col-10.col-md-8
            .card-media__body                 
                figure.card__figure
                    img(src="images/medidas_generales/recomendacion2.png", alt="Instálate en una habitación individual, bien ventilada, y con condiciones sanitarias favorables.").img-fluid
                p.card__copy 
                    span Limita tus movimientos dentro del domicilio y reduce los espacios compartidos.


        .card-media.col-10.col-md-8
            .card-media__body                 
                figure.card__figure
                    img(src="images/medidas_generales/recomendacion3.png", alt="Instálate en una habitación individual, bien ventilada, y con condiciones sanitarias favorables.").img-fluid
                p.card__copy 
                    | Suspende la entrada de visitantes.

        .card-media.col-10.col-md-8
            .card-media__body                 
                figure.card__figure
                    img(src="images/medidas_generales/recomendacion4.png", alt="Instálate en una habitación individual, bien ventilada, y con condiciones sanitarias favorables.").img-fluid
                p.card__copy 
                    span Implementa rutinas de lavado de manos con agua y jabón.

        .card-media.col-10.col-md-8
            .card-media__body                 
                figure.card__figure
                    img(src="images/medidas_generales/recomendacion5.png", alt="Instálate en una habitación individual, bien ventilada, y con condiciones sanitarias favorables.").img-fluid
                p.card__copy 
                    span Utiliza pañuelos desechables para sonarte.

    
    .header-arrow.my-5
        h3 Atención domiciliaria para personas con sospecha o confirmación de COVID-19
        p Infografías de la OPS.

    .row.justify-content-center.align-content-center.mt-5
        .col-12.col-md-5
            .card
            
                a(href="images/casos_posibles_probables/infografia/covid-19-atencion-domiciliaria-1.jpg",data-fancybox="gallery",data-caption="Atención domiciliaria para personas con sospecha o confirmación de COVID-19",data-imagen="images/casos_posibles_probables/infografia/covid-19-atencion-domiciliaria-1.jpg")
                    img.card-img-top(src='images/casos_posibles_probables/infografia/covid-19-atencion-domiciliaria-1.jpg', alt='Atención domiciliaria para personas con sospecha o confirmación de COVID-19')
                .card-body
                    .d-flex.flex-column
                        //h5.card-title Para Cuidadores
                        a.btn.btn-primary(href="images/casos_posibles_probables/infografia/covid-19-atencion-domiciliaria-1.jpg",data-fancybox="gallery",data-caption="Atención domiciliaria para personas con sospecha o confirmación de COVID-19",data-imagen="images/casos_posibles_probables/infografia/covid-19-atencion-domiciliaria-1.jpg") <i class="fa fa-search-plus"></i> Ver más

        .col-12.col-md-5
            .card
                a(href="images/casos_posibles_probables/infografia/covid-19-atencion-domiciliaria-2.jpg",data-fancybox="gallery",data-caption="Atención domiciliaria para personas con sospecha o confirmación de COVID-19",data-imagen="images/casos_posibles_probables/infografia/covid-19-atencion-domiciliaria-2.jpg")
                    img.card-img-top(src='images/casos_posibles_probables/infografia/covid-19-atencion-domiciliaria-2.jpg', alt='Atención domiciliaria para personas con sospecha o confirmación de COVID-19')
                .card-body
                    .d-flex.flex-column
                        //h5.card-title Para todos los miembros del hogar
                        a.btn.btn-primary(href="images/casos_posibles_probables/infografia/covid-19-atencion-domiciliaria-2.jpg",data-fancybox="gallery",data-caption="Atención domiciliaria para personas con sospecha o confirmación de COVID-19",data-imagen="images/casos_posibles_probables/infografia/covid-19-atencion-domiciliaria-2.jpg") <i class="fa fa-search-plus"></i> Ver más

