.container
    .row
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 8. Mitos y realidades sobre el COVID-19
            .tituloPrincipal__icono


    .row.my-5
        .col

            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Omm0j9qU_ds', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                .card-body.mt-0
                    strong Mitos y realidades sobre el COVID-19. | 
                    | Antes de compartir la información que vemos a diario en nuestras redes sociales debemos estar seguro que provenga de fuentes oficiales ya que la difusión de información falsa puede generar pánico y confusión en la comunidad.

