head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title AISLAMIENTO DOMICILIARIO COVID-19
  meta(meta name="description" content="En este evento de divulgación tecnológica (EDT), se abordan los lineamientos nacionales para que el personal de salud y la comunidad garanticen el correcto aislamiento domiciliario para personas afectadas por el COVID -19.  En él encontrará paso a paso cómo afrontar dicho aislamiento y la importancia de cumplirlo para frenar la curva de contagios.")   
  link(rel="icon",type="image/svg+xml",href="../assets/images/logos/senaLogo.svg")
  link(rel="stylesheet", href="../assets/fonts/fontawesome/css/font-awesome.css")  
  link(href='../assets/css/fancybox.css', rel='stylesheet')
  link(href='../assets/css/animate.css', rel='stylesheet')
  link(href='../assets/css/main.css?v=2', rel='stylesheet')
  